.footer {
  padding: 60px 0;
  background-color: var(--accent-background-color);
  & .link {
    font-style: normal;
  }
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include desk {
      flex-direction: row;
      align-items: baseline;
    }
  }
  &__call {
    display: block;
    margin-bottom: 20px;
    text-align: center;
    @include desk {
      text-align: start;
    }

    color: var(--white-color);
  }
  &__social-link {
    margin-bottom: 60px;
    @include desk {
      margin-bottom: 0;
    }

    background-color: rgba(255, 255, 255, 0.1);
    color: var(--white-color);
    &:hover,
    &:focus {
      background-color: var(--accent-color);
      color: var(--white-color);
    }
  }
  &__subscribe {
    &-label {
      margin-bottom: 20px;
    }
    &-input {
      width: 90vw;
      @include mob {
        width: 450px;
      }
      @include desk {
        width: 358px;
      }
      height: 50px;
      padding-left: 16px;
      margin-bottom: 20px;
      @include desk {
        margin-bottom: 0;
      }

      display: flex;
      align-items: center;
      @include font(16px, null, 1.25, null);
      background-color: var(--accent-background-color);
      color: var(--white-color);
      border: 1px solid rgba(255, 255, 255, 0.3);
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
      border-radius: 4px;
      outline: none;
      &:focus,
      &:active {
        border: 1px solid var(--accent-color);
      }
      &::placeholder {
        color: rgba(255, 255, 255, 0.6);
      }
    }
    &-button {
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;

      width: 200px;
      height: 50px;
      @include desk {
        margin-left: 12px;
      }

      background-color: var(--accent-color);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      border-radius: 4px;
      @include font(16px, 700, 1.87, 0.06em);
      &:hover,
      &:focus {
        background-color: #188ce8;
      }
    }
  }
}
.adress-social-container {
  @include tab {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }
}
.flex-adress {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
  @include desk {
    margin-bottom: 0;
    align-items: flex-start;
  }
  &__item:not(:last-child) {
    margin-bottom: 9px;
  }
}
.address-container {
  @include tab {
    margin-right: 165px;
  }
  @include desk {
    margin-right: 70px;
  }
}
.subscribe {
  @include desk {
    margin-left: 93px;
  }
  &__actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include desk {
      flex-direction: row;
    }
  }
}
.icon-send {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}
