.our-focus {
  display: none;
  @include desk {
    display: block;
  }
  .section & {
    padding-top: 0;
  }
  &__title {
    margin-bottom: 50px;
  }
  &__list {
    display: flex;
  }
  &__item:not(:last-child) {
    margin-right: 30px;
  }
}
.focus {
  &__thumb {
    position: relative;
  }
  &__disc-box {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(47, 48, 58, 0.8);
  }
  &__disc {
    color: var(--white-color);
  }
}
