.contacts {
  &-header {
    color: var(--main-text-color);
    @include tab {
      @include font(12px, 500, 1.17, 0.02em);
    }
    @include desk {
      @include font(14px, null, 1.14, null);
    }
    &:hover,
    &:focus,
    &:active {
      color: var(--accent-color);
    }
    &__icon1 {
      transition-duration: 0ms;
      @include tab {
        width: 14px;
        height: 10px;
        margin-right: 8px;
      }
      @include desk {
        width: 16px;
        height: 12px;
        margin-right: 10px;
      }
    }
    &__icon2 {
      transition-duration: 0ms;
      @include tab {
        width: 10px;
        height: 14px;
        margin-right: 8px;
      }
      @include desk {
        width: 10px;
        height: 16px;
        margin-right: 10px;
      }
    }
  }
  &-footer {
    color: var(--special-footer-text-color);
    letter-spacing: 0.02em;
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
    &__fonts {
      @include font(14px, null, 1.7, null);
    }
  }
}
.office {
  &-adress {
    color: var(--white-color);
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
}
