.menu {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) scale(1);
  width: 100vw;
  height: 100vh;
  padding: 3% 3%;
  @include mob {
    width: 480px;
    padding: 48px 40px;
  }
  //height: 796px;

  background-color: var(--white-color);
  &__nav-list {
    display: flex;
    flex-direction: column;
    &-item {
      &:not(:last-child) {
        margin-bottom: 32px;
      }
    }
  }
  &__nav-link {
    @include font(40px, 500, 1.18, 0.02em);
    color: var(--secondary-text-color);
  }
  &__header-contacts {
    display: flex;
    flex-direction: column;
    &-item {
      &:nth-child(1) a {
        @include font(34px, 500, 1.18, 0.02em);
        color: var(--accent-color);
      }
      &:nth-child(2) {
        margin-top: 32px;
      }
      &:nth-child(2) a {
        @include font(24px, 500, 1.17, 0.02em);
        color: var(--main-text-color);
      }
    }
  }
  &__social {
    display: flex;
    flex-direction: row;
    margin-top: 64px;
    &__item {
      & a {
        @include font(18px, 500, 1.2, 0.02em);
        color: var(--accent-color);
      }
      &:not(:last-child) {
        border-right: 1px solid rgba(33, 33, 33, 0.2);
        padding-right: 1px;
        @include mob {
          padding-right: 10px;
        }
      }
      &:not(:first-child) {
        margin-left: 1px;
        @include mob {
          margin-left: 10px;
        }
      }
    }
  }
  &__contacts-social {
    position: absolute;
    bottom: 48px;
  }
}
.current-mob {
  color: var(--accent-color);
}
.btn-close-menu {
  position: absolute;
  top: 5px;
  right: 7px;
  width: 40px;
  height: 40px;
  @include mob {
    top: 10px;
    right: 15px;
  }

  border: none;
  background-color: var(--white-color);
  color: #000;
  transition-duration: 0ms;
  &:hover,
  &:focus,
  &:active {
    color: var(--accent-color);
  }
  &__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 19px;
    height: 19px;
    transition-duration: 0ms;
  }
}
