.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;

  background-color: rgba(0, 0, 0, 0.2);
  &.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: none;
    & .modal {
      transform: scale(0.2);
    }
  }
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  padding: 40px;

  width: 450px;
  height: 609px;
  @include desk {
    min-width: 528px;
    min-height: 581px;
  }

  background-color: var(--white-color);
  &__form {
    display: flex;
    flex-direction: column;
  }
  &__call {
    text-align: center;
    margin-bottom: 12px;

    @include font(20px, 700, 1.15, null);
    color: var(--secondary-text-color);
  }
  &__name-label {
    margin-bottom: 4px;

    @include font(12px, null, 1.17, 0.01em);
  }
  &__inputs {
    padding-left: 42px;
    height: 40px;
    width: 100%;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    &:focus,
    &:active {
      border: 1px solid var(--accent-color);
    }
  }
  &__input {
    &-name:focus + .modal__icon-person,
    &-name:active + .modal__icon-person,
    &-tel:focus + .modal__icon-phone,
    &-tel:active + .modal__icon-phone,
    &-email:focus + .modal__icon-envelope,
    &-email:active + .modal__icon-envelope {
      color: var(--accent-color);
    }
    &-containers {
      position: relative;
      margin-bottom: 10px;
      & .modal__icon-envelope {
        position: absolute;
        width: 15px;
        height: 12px;
      }
    }
  }
  &__textarea {
    margin-bottom: 20px;
    padding: 12px 16px;
    height: 120px;

    @include font(12px, null, 1.17, 0.01em);
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    outline: none;
    &::placeholder {
      color: rgba(117, 117, 117, 0.5);
    }
    &:focus,
    &:active {
      border: 1px solid var(--accent-color);
    }
  }
  &__submit {
    width: 200px;
    height: 50px;
    margin: 0 auto;

    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    @include font(16px, 700, 1.87, 0.06em);
    &:hover,
    &:focus {
      background-color: #188ce8;
    }
  }
}
.modal__icon {
  transition-duration: 0ms;
  color: var(--secondary-text-color);
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  &-person {
    position: absolute;
    width: 12px;
    height: 12px;
  }
  &-phone {
    position: absolute;
    width: 13px;
    height: 13px;
  }
}
.modal__checkbox {
  &:checked + .modal__checkbox-icon {
    border-color: transparent;
    background-color: var(--accent-color);
    background-image: url('../images/icon-check.svg');
    background-size: contain;
    background-origin: border-box;
  }
  &-icon {
    width: 16px;
    height: 15px;
    margin-right: 8.4px;

    border: 1.8px solid var(--secondary-text-color);
    border-radius: 2px;
  }
}
.agreement {
  display: flex;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
  &__stroke {
    display: flex;
  }
  &__link {
    color: var(--accent-color);
  }
}
.btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;

  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--white-color);
  color: #000;
  transition-duration: 0ms;
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  &__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 18px;
    height: 18px;
    transition-duration: 0ms;
  }
}
