.section {
  padding: 0;
  margin: 0;
  width: 100vw;
  padding-top: 60px;
  padding-bottom: 60px;
  @include desk {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  &__title {
    text-align: center;

    color: var(--secondary-text-color);
    @include font(28px, 700, 1.18, null);
    @include desk {
      @include font(36px, 700, 1.17, null);
    }
  }
}
