.social {
  display: flex;
  justify-content: center;
  &__icon {
    transition-duration: 0ms;
    width: 20px;
    height: 20px;
  }
  &__item {
    & + & {
      margin-left: 10px;
    }
  }
  &__link {
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
  }
}
